/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* body{
  position: relative;
  min-height: 100vh;
  width: 100px;
  overflow:hidden;
} */
aside .sideNavbar {
  position: absolute;
  margin: 0;
  top: 1;
  left: 0;
  height: 100%;
  width: 200px;
  /* background-color: #59424c; */
  background-color: rgba(89, 66, 76, 0.75);
  padding: 7rem 2rem;
}

.text {
  font-weight: 500;
  color: rgb(255, 214, 167);
}

a {
  color: rgb(255, 214, 167);
}
/* .box2 {
  background-color: rgba(0,0,0,.5);
  color: #fff */
